{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}
{{block header}}
{{end}}
</br></br></br></br>
</br></br></br></br>
<table align="center">
	<tr>
		<td>
			<a href="{{=URL('default','audi')}}"><img src="{{=URL('static', 'images/front-audi.png')}}"/></a>
			<a href="{{=URL('default','volkswagen')}}"><img src="{{=URL('static', 'images/front-porsche.png')}}" /></a>
			<a href="{{=URL('default','porsche')}}"><img src="{{=URL('static', 'images/front-volkswagen.png')}}" /></a>
		</td>
	</tr>
</table>


